html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 30px;
    text-transform: uppercase;
    color: #5e2195;
    border-bottom: 2px solid;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

footer{
    background:#eee;
    padding : 70px;
    text-align: center;
}
.welcome-img{
    width: 550px;
}

img{
    cursor: pointer;
    width: 50px;
}

.btn{
    border-radius: 10%;
    border-color: red;
    color: red;
}

.btn:hover{
    border-radius: 10%;
   color: #fff;
    background-color: red;
}



.pizza-details{
    background: #f7f7f7;
    padding: 20px;
  
    p{
      margin: 20px 0;
      font-weight: bold;
    }
    button{
      background: #5e2195;
      padding: 8px 20px;
      color: #fff;
      border: 0;
      margin-top: 20px;
    }
  }

  /* pizza index page */
  
  .pizza-index{
    h1{
      margin-bottom: 40px;
    }
    .pizza-itemm{
      margin: 10px 0;
      padding: 12px;
      background: #f4f4f4;
      img{
        height: 6px;
        display: inline-block;
      }
      h4{
        display: inline-block;
        font-weight: normal;
        margin-left: 20px;
        a{
          color: #777;
          text-decoration: none !important;
        }
      }
    }
}